body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #33d36a;
  color: #fff;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  margin-left: 30px;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #551a8b;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
form h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
.question {
  margin-bottom: 15px;
  font-size: 20px;
}
label {
  color: #fff;
}
input[type="radio"] {
  margin-right: 10px;
}
button[type="submit"],
button[type="reset"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-right: 10px;
}
button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: #45a049;
}
.button-group {
  text-align: center;
}
