body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: 	rgb(211, 211, 211);

    .header {
        background-color: rgb(51, 211, 106);
        color: #fff;
        padding: 1em 1em;
        display: flex;
        justify-content: space-between;

        h1 {
            top:0;
            left:0;
        }

        nav {
            margin-top: 0.8em;
            ul {
                li {
                    text-align: center;
                    padding: 1em 1em;
                    display: inline;
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.wrapper {
    max-width: 97%;
    margin: 0 auto;
    padding: 2em 0;
    display: block;

    #hero {
        background-color: #40b4de;
        max-height: 65vh;
        color: #fff;
        padding: 60px 20px;
        display: flex;
    
        img {
            max-width: 40%;
            max-height: auto;
            border-radius: 0.6em;
        }
    
        .content {
            max-width: 60%;
            margin-left: 20px; /* Adjust the margin as needed */
            display: flex;
            flex-direction: column;
            // align-items: center; /* Add this line */
    
            h1 {
                font-size: 55px; /* Adjust the font size as needed */
                margin-bottom: 2em;
            }
    
            p {
                font-size: 30px; /* Adjust the font size as needed */
                line-height: 1.5;
                margin-bottom: 20px;
            }
        }
    }
    
    .module-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5em;

        a {
            text-decoration: none;
            margin: 1em 1em;
            width:40%;
            height: 40vh;
            background-color: 	rgb(154, 128, 229);
            border-radius: 3em;
            div {
                h2 {
                    color: white;
                    font-size: 2.5rem;
                    margin-top: 2.7em;
                    text-align: center;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    word-break: break-all;
                }

                &:hover {
                    cursor:pointer;
                }
            }
        }  
    }

    section {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 1.5em;
        text-align: center;
        padding: 40px 20px;
        border-radius: 2em;
    
        h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }
    
        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    
        ul {
            list-style: none;
    
            li {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }

}



footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {

    #hero {
        padding: 40px 10px;

        h2 {
            font-size: 28px;
            margin-bottom: 15px;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .cta-button {
            padding: 8px 16px;
            font-size: 14px;
        }
    }

    section {
        padding: 20px;

        h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
            margin-bottom: 15px;
        }

        .cta-button {
            padding: 8px 16px;
            font-size: 14px;
        }
    }
}
