body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: rgb(211, 211, 211);
}
body .header {
  background-color: rgb(51, 211, 106);
  color: #fff;
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: absolute;
  top: 0%;
  left: 0px;
}

.logo img {
  max-height: 84px;
  max-width: 100%;
}

body .header h1 {
  top: 0;
  left: 0;
  margin-left: 80px;
}
body .header nav {
  margin-top: 0.8em;
}
body .header nav ul li {
  text-align: center;
  padding: 1em 1em;
  display: inline;
}
body .header nav ul li a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  max-width: 97%;
  margin: 0 auto;
  padding: 2em 0;
  display: block;
}
.wrapper #hero {
  background-color: #40b4de;
  max-height: 65vh;
  color: #fff;
  padding: 60px 20px;
  display: flex;
}
.wrapper #hero img {
  max-width: 40%;
  max-height: auto;
  border-radius: 0.6em;
}
.wrapper #hero .content {
  max-width: 60%;
  margin-left: 5em; /* Adjust the margin as needed */
  display: flex;
  flex-direction: column;
  align-items: center; /* Add this line */
}
.wrapper #hero .content h1 {
  font-size: 55px; /* Adjust the font size as needed */
  margin-bottom: 2em;
}
.wrapper #hero .content p {
  font-size: 30px; /* Adjust the font size as needed */
  line-height: 1.5;
  margin-bottom: 20px;
}
.wrapper .module-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
.wrapper .module-wrapper a {
  text-decoration: none;
  margin: 1em 1em;
  width: 30%;
  aspect-ratio: 1/1;
  background-color: rgb(154, 128, 229);
  border-radius: 3em;
}
.wrapper .module-wrapper a div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wrapper .module-wrapper a div h2 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
.wrapper .module-wrapper a div:hover {
  cursor: pointer;
}
.wrapper section {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5em;
  text-align: center;
  padding: 40px 20px;
  border-radius: 2em;
}
.wrapper section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.wrapper section p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.wrapper section ul {
  list-style: none;
}
.wrapper section ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  #hero {
    padding: 40px 10px;
  }
  #hero h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  #hero p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  #hero .cta-button {
    padding: 8px 16px;
    font-size: 14px;
  }
  section {
    padding: 20px;
  }
  section h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  section p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  section .cta-button {
    padding: 8px 16px;
    font-size: 14px;
  }
} /*# sourceMappingURL=styles.css.map */
